<div>

	<div class="wrap-content">
		<div class="login-wrap-box">
			<h2 class="title">注册</h2>
			<div class="content-box">
				<form class="form-box" action="" method="post" name="registform">
					<label class="username-label">
						<span class="label">
							<span class="tip">*</span>
							电子邮箱

							<span class="tipinfo fr" ng-show="registform.email.$dirty && registform.email.$invalid-pattern">邮箱地址不合法</span>
							<span class="tipinfo fr" ng-show="registform.email.$dirty && registCtrl.isExist">邮箱地址不合法</span>
						</span>
						<i class="dl-icon dl-icon-email"></i>
						<input type="text" placeholder="请输入邮箱"  id="email" 	name="email" class="username" ng-model="registCtrl.registform.email" ng-pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/" ng-blur="registCtrl.checkExist()" required>	
					</label>
					<label class="password-label">
						<span class="label">
							<span class="tip">*</span>
							密码
							<span class="tipinfo fr" ng-show="registform.password.$dirty && registCtrl.passwordStrength < 2">密码要大于6位，且为字母/数字/符号组合</span>
						</span>
						<i class="dl-icon dl-icon-email"></i>
						<input type="password"  id="password" name="password" placeholder="请输入密码" class="password" ng-model="registCtrl.registform.password"required>
						<password-strength-bar strength="{{ registCtrl.getStrength() }}"></password-strength-bar>
					</label>
					<label class="password-label">
						<span class="label">
							<span class="tip">*</span>
							确认密码
							<span class="tipinfo fr" ng-show="registform.repassword.$dirty && registCtrl.registform.repassword != registCtrl.registform.password">密码不一致</span>
						</span>
						<i class="dl-icon dl-icon-email"></i>
						<input type="password" id="repassword" name="repassword" placeholder="请再次输入密码" class="password" ng-model="registCtrl.registform.repassword"  required>
					</label>
					<div class="btn-box">
						<button type="button" class="request-btn" ng-disabled="registform.$invalid || registCtrl.passwordStrength < 2 || registCtrl.registform.repassword != registCtrl.registform.password || registCtrl.isExist" ng-click="registCtrl.doRegist()">注册</button>
					</div>
					<div class="info clearfix">
						<p class="info-item fl">
							已有账号?
							<span ui-sref="root.login" class="btn">登录</span>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>