.bar{
	width: 300px;
	height: 20px;
	margin: 10px;
	border: 1px solid #999;
	border-radius: 10px;
	overflow: hidden;
}
.bar span{
	float: left;
	text-align: center;
	line-height: 20px;
}
.bar .no0,.bar .no1,.bar .no2{
	display: block;
	width: 98px;
	height: 100%;
}

.bar .no1,.bar .no2{	
	margin-left: 3px;
}
.bar .no0{
	background: red;
}
.bar .no1{
	background: yellow;
}
.bar .no2{
	background: green;
}
.bar .nostrength{
	background: #999;
}